<body class="fondo">
    <div class="container">
    <!---heading---->
        <header class="heading"> Formulario de Registro de Pacientes</header>
        <form [formGroup]="formRegistro" *ngIf="logeando">
     <!---Form starting----> 
     <div class="row " style="margin-left: 70px;">
      <!--- For Name---->
            <div class="col-sm-12">
                <div class="row">
              <div class="col-xs-4">
                        <label class="firstname"></label> </div>
                <div class="col-xs-8">
                    <input type="text" name="fname" id="fname" formControlName="nombre" placeholder="Nombre" class="form-control " [(ngModel)]="this.paciente.nombre">
                    
                </div>
             </div>
        </div>

        <div class="col-sm-12">
            <div class="row">
          <div class="col-xs-4">
                    <label class="firstname"></label>
            </div>
            <div class="col-xs-8">
                <input type="text" name="fname" id="fname" formControlName="apellido" placeholder="Apellido" class="form-control" [(ngModel)]="this.paciente.apellido">
            </div>
         </div>
         <div class="col-sm-12">
            <div class="row">
          <div class="col-xs-4">
                    <label class="firstname"></label>
            </div>
            <div class="col-xs-8">
                <input type="text" name="fname" id="fname" formControlName="edad" placeholder="Edad" class="form-control " [(ngModel)]="this.paciente.edad">
            </div>
         </div></div>
    </div>
    <div class="col-sm-12">
        <div class="row">
          <div class="col-xs-4">
                <label class="mail" ></label></div>
          <div class="col-xs-8"	>	 
               <input type="dni" name="email"  id="email" formControlName="dni" placeholder="DNI" class="form-control " [(ngModel)]="this.paciente.dni" >
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="row">
          <div class="col-xs-4">
                <label class="mail" ></label></div>
          <div class="col-xs-8"	>	 
               <input type="dni" name="email"  id="email" formControlName="obraSocial" placeholder="Obra Social" class="form-control " [(ngModel)]="this.paciente.obraSocial" >
            </div>
        </div>
    </div>
        
        <!-----For email---->
        <div class="col-sm-12">
            <div class="row">
              <div class="col-xs-4">
                    <label class="mail" ></label></div>
              <div class="col-xs-8"	>	 
                   <input type="email" name="email"  id="email" formControlName="email" placeholder="Correo Electrónico" class="form-control " [(ngModel)]="this.paciente.mail" >
                </div>
            </div>
        </div>
      <!-----For Password and confirm password---->
             <div class="col-sm-12">
                <div class="row">
                <div class="col-xs-4">
                        <label class="pass"></label></div>
             <div class="col-xs-8">
                      <input type="password" name="password" id="password" formControlName="contrasena" placeholder="Contraseña" class="form-control" [(ngModel)]="this.paciente.pass">
            </div>
             </div>
         </div>

         <div class="col-sm-12">
            <div class="row">
            <div class="col-xs-4">
                    <label class="pass"></label></div>
         <div class="col-xs-8">
                  <input type="password" name="password" id="password" formControlName="contrasena2" placeholder="Reingresar contraseña" class="form-control" [(ngModel)]="this.contrasena2">
        </div>
         </div>
     </div>
     <div class="col-sm-12">
        <div class="row">
          <div class="col-xs-4">
                <label class="mail" ></label></div>
          <div class="col-xs-8"	>	 
               <input type="file" name="email"  id="email" formControlName="foto1" placeholder="Foto 1" class="form-control " [(ngModel)]="this.paciente.imagen1" (change)="onFileSelected($event, 1)">
            </div>
        </div>
    </div>
  <!-----For Password and confirm password---->
         <div class="col-sm-12">
            <div class="row">
            <div class="col-xs-4">
                    <label class="pass"></label></div>
         <div class="col-xs-8">
                  <input type="file" name="password" id="password" formControlName="foto2" placeholder="Foto 2" class="form-control" [(ngModel)]="this.paciente.imagen2" (change)="onFileSelected($event, 2)">
        </div>
         </div></div>
        <!-----------For Phone number-------->
            <div class="col-sm-12">
            
            <div class="col-sm-12"style="margin-left: -34px;">
                <div class="btn btn-warning" (click)="enviar()">Enviar</div>
          </div>
          <br>
          <div class="col-sm-12" style="margin-left: -34px;">
            <div class="btn btn-warning" routerLink="/login" >Loguearse</div>
      </div>
      
        </div>
       
      </div>	 
      
    </form> 
    <div *ngIf="!logeando" style="margin-top:90%">
      <div  class="progress" >
        <div class="progress-bar progress-bar-info progress-bar-striped active" [class]="clase" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="ProgresoDeAncho" >
          {{progresoMensaje}} - {{progreso}}%
        </div>
    </div>
     </div>
      <div>
        <div id="snackbar">{{Mensaje}}</div>
      </div>
   </div>
   