/* Contenedor de mis pacientes - usa el fondo global */
.pacientes-container {
  min-height: 100vh;
  padding: 20px;
}

  .volver-btn {
    position: absolute;
    top: 110px;
    right: 10%;
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }