/* Eliminado el fondo local, ahora usa el fondo global del app.component */

  .volver-btn {
    position: absolute;
    top: 110px;
    right: 10%;
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }