/* Eliminado el fondo local, ahora usa el fondo global del app.component */

  .card{
    background-color: #919390;
    padding: 70px;
    opacity: 0.9;
    
}
.card-color{
    background-color: #ac9741;
}
.star-wrapper {
    direction: rtl;
}
.star-wrapper span {
text-decoration: none;
transition: all 0.5s;
margin: 4px;
}
.star-wrapper span:hover {
color: gold;
transform: scale(1.3);
cursor: pointer;
}
.s1:hover ~ span {
color: gold;
}
.s2:hover ~ span {
color: gold;
}
.s3:hover ~ span {
color: gold;
}
.s4:hover ~ span {
color: gold;
}
.s5:hover ~ span {
color: gold;
}

.checked{
color: gold;
}
.calificadores{
    margin: 10px;
}

