.btn {
    margin-top: 40px;
}

h2{
    margin-top: 80px;
    text-align: center;
}

.text-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.col-3, .col-9 {
    display: flex;
    align-items: center;  /* Centrando verticalmente */
}

.col-3 {
    justify-content: flex-start;
}

.col-9 {
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Espaciado entre filas */
}