

  
  <section id="tabs" class="project-tab">
    <button (click)="exportToExcel()" class="btn btn-success">Exportar a Excel</button>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
               
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        
                        <h1 style="text-align: center;">Usuarios</h1>

                        <table class="table" cellspacing="0" style="text-align: center" >
                                <thead>
                                    <tr>
                                      <th>Nombre</th>
                                      <th>Apellido</th>
                                      <th>Edad</th>
                                      <th>Tipo</th>
                                      <th>Correo</th>
                                      <th>Obra Social</th>
                                      <th>Estado</th>
                                      <th>Acción</th>
                                      <th>Especialidad/Historia Clinica</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align: center">
                                    <tr *ngFor="let user of usuarios">
                                        <td>{{user.nombre}}</td>
                                        <td>{{user.apellido}}</td>
                                        <td>{{user.edad}}</td>
                                        <td>{{user.tipo}}</td>

                                        <td>{{user.email}}</td>
                                        <td>{{user.obraSocial}}</td>
                                        
                                        <td>{{user.aprobado | misPipes }}</td>
                                        <td *ngIf="user.aprobado">
                                            <button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block" (click)="deshabilitarEspecialista(user)">Deshabilitar</button></td>
                                            <td *ngIf="!user.aprobado">
                                                <button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block" (click)="habilitarEspecialista(user)">Habilitar</button></td>
                                        <td *ngIf="user.tipo == 'paciente'">
                                            <button class="btn btn-info" (click)="seleccionarPaciente(user.email)">Historia Clinica</button>  
                                        </td>        
                                                
                                                <label *ngFor="let esp of user.especialidad">{{esp.especialidad}}</label>
                                    </tr>
                                    
                                </tbody>
                            </table>

                            

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
