.project-tab {
    padding: 8%;
}

.project-tab #tabs {
    background: #007b5e;
    color: #eee;
}

.project-tab #tabs h6.section-title {
    color: #eee;
}

.project-tab #tabs .nav-tabs .nav-item.show .nav-link, 
.project-tab #tabs .nav-tabs .nav-link {
    color: #3cff00;
    background-color: transparent;
    border-color: transparent transparent #ffe600;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}

.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #ffe600;
    border-color: transparent transparent #ffe600;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: 600;
}

.project-tab .nav-link:hover {
    border: none;
    color: #3cff00;
}

.project-tab .nav-link:before {
    border: none;
    color: #3cff00;
}

.project-tab thead {
    background: #d9d9d9;
    color: #ab0000;
}

.project-tab td {
    text-decoration: none;
    color: rgb(2, 8, 34);
    font-weight: 900;
    background-color: rgb(162, 229, 190);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.075);
}

.text-center {
    text-align: center;
}

.btn {
    font-weight: 600;
}

.btn-success {
    margin-bottom: 20px;
}