<div class="fondo-principal">
    <div class="content-overlay">
        <main class="container" *ngIf="seccion == 'menu'">
            <div class="content-row">
                <div class="card-section" (click)="cambiarSeccion('paciente')">
                    <div class="welcome-card clickeable">
                        <div class="image-container">
                            <img alt="Registro Paciente" class="card-image" src="./assets/imagenes/paciente.png">
                        </div>
                    </div>
                </div>
                <div class="card-section" (click)="cambiarSeccion('especialista')">
                    <div class="welcome-card clickeable">
                        <div class="image-container">
                            <img alt="Registro Especialista" class="card-image" src="./assets/imagenes/especialista.png">
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="pantalla-2" *ngIf="seccion == 'seleccion'">
            <div class="contenedor-registros" *ngIf="tipoUsuarioARegistrar == 'paciente'">
               <app-form-paciente></app-form-paciente>
            </div>
            <div class="contenedor-registros" *ngIf="tipoUsuarioARegistrar == 'especialista'">
                <app-form-especialista></app-form-especialista>
            </div>
            <div class="boton-menu">
                <button class="flecha" (click)="volverMenuSeleccion()">Volver</button>
            </div>
        </div>
    </div>
</div>