<div class="fondo-principal">
    <div class="content-overlay">
        <main class="container" *ngIf="seccion == 'menu'">
            <div class="content-row">
                <div class="card-section">
                    <div class="welcome-card">
                        <img alt="Registro Paciente" class="rounded-circle card-image" height="235" src="./assets/imagenes/paciente.png" width="243">
                        <h2>¡Soy Paciente!</h2>
                        <p>Te podrás registrar como paciente de nuestra clínica</p>
                        <p><a class="welcome-btn" role="button" (click)="cambiarSeccion('paciente')">Registrarse como Paciente</a></p>
                    </div>
                </div>
                <div class="card-section">
                    <div class="welcome-card">
                        <img alt="Registro Especialista" class="rounded-circle card-image" height="235" src="./assets/imagenes/especialista.png" width="243">
                        <h2>¡Soy Especialista!</h2>
                        <p>Te podrás registrar como integrante de nuestro staff</p>
                        <p><a class="welcome-btn" role="button" (click)="cambiarSeccion('especialista')">Registrarse como Especialista</a></p>
                    </div>
                </div>
            </div>
        </main>
        <div class="pantalla-2" *ngIf="seccion == 'seleccion'">
            <div class="contenedor-registros" *ngIf="tipoUsuarioARegistrar == 'paciente'">
               <app-form-paciente></app-form-paciente>
            </div>
            <div class="contenedor-registros" *ngIf="tipoUsuarioARegistrar == 'especialista'">
                <app-form-especialista></app-form-especialista>
            </div>
            <div class="boton-menu">
                <button class="flecha" (click)="volverMenuSeleccion()">Volver</button>
            </div>
        </div>
    </div>
</div>