<app-cabecera></app-cabecera>

<div class="fondo">
    <div class="container-fluid d-flex justify-content-center aling-content-center">
        <div class="pantalla d-flex flex-column position-relative">
          <div class="card m-5 p-3" style="width: 80%; max-width: 90%;">
            <div *ngIf="!this.mostrar"class="row g-0">
              <div *ngIf="userData?.tipo == 'admin'" class="col-md-4">
                
              </div>
              <div *ngIf="userData?.tipo == 'especialista'" class="col-md-4">
                <img [src]="userData?.foto1" class="img-fluid rounded-start" alt="...">
              </div>
              <div *ngIf="userData?.tipo == 'paciente'" class="col-md-4">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img [src]="userData!.foto1" class="d-block w-100 active" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img [src]="userData!.foto2" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
      
              <div class="col-md-8">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h1 class="card-title">{{userData?.nombre}} {{userData?.apellido}}</h1>
                    <button *ngIf="this.userData?.tipo == 'paciente'" class="btn btn-info" routerLink="/historial">Historial Clínico</button>
                  </div>
                  <p appLupa class="card-text">Rol: {{userData?.tipo}}</p>
                  <p appLupa class="card-text">Email: {{userData?.email}}</p>
                  <p appLupa class="card-text">Edad: {{userData?.edad}}</p>
                  <p appLupa class="card-text">DNI: {{userData?.dni}}</p>
                  <p appLupa *ngIf="userData?.tipo == 'paciente'" class="card-text">Obra social: {{userData?.obraSocial}}</p>
                  <div *ngIf="userData?.tipo == 'especialista'">
                    <p appLupa class="card-text">Especialidades:</p>
                    <ul  *ngFor="let item of userData?.especialidad">
                      <li>{{item.especialidad}}</li>
                    </ul>
                    <hr>
                    <div>
                        <button  class="btn btn-primary horarios largo" (click)="abrirMisHorarios()">Mis Horarios</button>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="container-fluid contenedor p-4 text-center mt-5" *ngIf="userData?.tipo === 'especialista' && mostrar === true">
                <div class="modal-content card" style="text-align: center; max-width: 1200px;max-height: 600px; margin: 0 auto;">
                  <br>
                  <h1 class="title">Disponibilidad Horaria</h1>
                  <br>
                  <div style="margin: 0 auto; float: none;" class="w-75 row" *ngFor="let dias of dias; let i=index">
                    <div class="col-md-3 mb-3">
                      <button (click)="cambiarEstado(dias.dia, disponibilidades[i])"
                              [ngClass]="{'btn-success': disponibilidades[i] === 'Habilitado', 'btn-danger': disponibilidades[i] === 'Inhabilitado'}"
                              class="btn disponibilidad">{{ dias.dia }} {{ disponibilidades[i] }}</button>
                    </div>
                    <div class="col-md-3 mb-3" >
                      <div class="form-floating mb-3">
                        <div class="btn-group w-100" dropdown >
                            <div *ngIf="disponibilidades[i] != 'Habilitado'">
                          <button id="button-basic" dropdownToggle type="button"
                          class="btn btn btn-secondary dropdown-toggle"
                          aria-controls="dropdown-basic">{{ dias.ini }}<span class="caret"></span>
                        </button></div>
                          <div *ngIf="disponibilidades[i] == 'Habilitado'">
                            <mat-form-field>
                                <mat-select (change)="cambiarHorario(dias.dia, 'inicio', $event)" [(ngModel)]="dias.ini">
                                    <mat-option *ngFor="let esp of horarios" [value]="esp">{{esp}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <div class="form-floating mb-3">
                        <div class="btn-group w-100" dropdown >
                            <div *ngIf="disponibilidades[i] != 'Habilitado'">
                          <button id="button-basic" dropdownToggle type="button"
                                  class="btn btn btn-secondary dropdown-toggle"
                                  aria-controls="dropdown-basic">{{ dias.fin }}<span class="caret"></span>
                          </button></div>
                          
                          <div *ngIf="disponibilidades[i] == 'Habilitado'">
                            <mat-form-field>
                                <mat-select (change)="cambiarHorario(dias.dia, 'fin', $event)" [(ngModel)]="dias.fin">
                                    <mat-option *ngFor="let esp of horarios" [value]="esp">{{esp}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <div class="form-floating mb-3">
                        <div class="btn-group w-100" dropdown>
                            <div *ngIf="disponibilidades[i] != 'Habilitado'">
                          <button id="button-basic2" dropdownToggle type="button"
                                  class="btn btn btn-secondary dropdown-toggle"
                                  aria-controls="dropdown-basic">{{ especialidadesPorDia[i] }}<span class="caret"></span>
                          </button></div>
                        
                          <div *ngIf="disponibilidades[i] == 'Habilitado'">
                            <mat-form-field>
                                <mat-select (change)="cambiarEspecialidad(dias.dia, $event)" [(ngModel)]="especialidadesPorDia[i]">
                                    <mat-option *ngFor="let esp of userData.especialidad" [value]="esp">{{esp.especialidad}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <button style="margin: 0 auto; float: none;" class="btn btn-primary" (click)="cerrarModulo()">Confirmar</button>
                  <br>
                </div>
                
              </div>
          </div>
         
        </div>
      </div>
    </div>