.fondo{
    display: inline-flex;
    background: url("./../../../assets/imagenes/slider-bg-2.jpg");
    
  
    width: 100%;
    height: 100%;
  }
  

  

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: rgb(6, 75, 6);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  float: right;
}
.aceptbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #3664F4;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}



span.psw {
  float: right;
  padding-top: 16px;
}


html,body{
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;

}

.container{
height: 100%;

}

.card{
height: 390px;
margin-top: auto;
margin-bottom: auto;
width: 450px;
background-color: rgba(0,0,0,0.5) !important;
display: inline-table;
}



.card-header h3{
color: white;
}


.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: white;
border:0 !important;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}


#snackbar.Ganador {
  background-color: rgb(110, 47, 5);
  color:white;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

img{
  height: 100px;
  margin-bottom: 20px;
}
.invalid-feedback{
  padding: 0;
  margin: 0;
}
.position{
  position: relative;
  width: 100%;
}
span{
  margin: 10px;
}
.d-inline-block{
  width: 160px;
}
.btn-outline{
  height: 85px;
  width: 85px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.paciente-btn{
  border: 2px solid rgb(182, 11, 11);
}
.especialista-btn{
  border: 2px solid green;
}
.admin-btn{
  border: 2px solid purple;
}
.foto{
  margin-top: 15px;
  height: 70px;
  width: 70px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}
.foto:hover{
  transition: all 0.5s;
  transform: scale(1.5);
}

.validacion{

  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  
}