<div class="fondo">
    <!-- Three columns of text below the carousel -->
    <div class="row" style="margin-left: 285px;">
      <div class="col-lg-6">
          <img _ngcontent-c3="" alt="Generic placeholder image" class="rounded-circle" height="235" src="./assets/imagenes/login.png" width="243">
        <h2>Iniciar Sesión</h2>
        <p>Para poder comenzar con las gestiones, deberá ingresar con su usuario y contraseña.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/login">Ingresar</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-6">
          <img _ngcontent-c3="" alt="Generic placeholder image" class="rounded-circle" height="235" src="./assets/imagenes/registro.jpg" width="243">
        <h2>Registrarse</h2>
        <p>En caso de no contar con un usuario creado, podrá generarlo aquí</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/registro">Registrarse</a></p>
      </div><!-- /.col-lg-4 -->
      <!--div class="col-lg-6"><br><br><br>
          <img _ngcontent-c3="" alt="Generic placeholder image" class="rounded-circle" height="235" src="./assets/imagenes/jugadores.png" width="243">
        <h2 style="margin-left:55px;">Jugadores</h2>
        <p>Listado de los jugadores de esta web</p>
        <p><a class="btn btn-danger btn-lg" href="#" role="button" routerLink="/Jugadores">Jugadores</a></p>
      </div--><!-- /.col-lg-4 -->
      <!--div class="col-lg-6"><br><br>
          <img _ngcontent-c3="" alt="Generic placeholder image" class="rounded-circle" height="235" src="./assets/imagenes/Configuracion.png" width="243">
        <h2>Configuracion</h2>
        <p>Ingresa para realizar las configuraciones que prefieras en los juegos</p>
        <p><a class="btn btn-danger btn-lg" href="#" role="button" routerLink="/Configuracion">Configurar</a></p>
      </div--><!-- /.col-lg-4 -->
    </div><!-- /.row -->