/* Eliminado el fondo local, ahora usa el fondo global del app.component */
  .card {
    background-color: #243725;
    color: #fff;
    margin-top: 23px;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.especialidad-card, .especialista-card {
    cursor: pointer;
    transition: transform 0.2s;
}

.especialidad-card:hover, .especialista-card:hover {
    transform: scale(1.05);
}

.especialidad-card .card-text, .especialista-card .card-text {
    font-size: 1.2em;
    font-weight: bold;
}

.modal-content {
    background-color: #e5eff6;
    color: #000000;
}

.btn {
    margin: 20px;
}

.btn-primary, .btn-success {
    width: 150px;
}

.horarios {
    width: 100%;
    margin: 2px 0;
}