
    <div class="h-100 text-center">
        <div class="container-fluid p-4 mt-5">
          <div class="card">
            <h1 *ngIf="etapa != 'confirmar' && etapa != 'fin'">Solicitar Turno</h1>
      
            <br>
      
            <!-- Dropdown especialidades -->
            <div class="row" *ngIf="etapa == 'especialidad'">
              <div class="col-12">
                <h4>Especialidad</h4>
              </div>
              <div *ngFor="let especialidad of especialidades" class="col-md-3 mb-3">
                <div class="card especialidad-card" (click)="elegirEspecialidad(especialidad.especialidad)">
                  <div class="card-body">
                    <p class="card-text">{{especialidad.especialidad}}</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Dropdown especialidades -->
      
            <!-- Dropdown especialistas -->
            <div *ngIf="etapa == 'especialista'">
              <div class="row">
                <div class="col-12">
                  <h4>Especialista</h4>
                  <p *ngIf="especialistasPorEspecialidad.length == 0">No se encuentran especialistas con esta especialidad. Elija otra por favor.</p>
                </div>
                <div *ngFor="let esp of especialistasPorEspecialidad" class="col-md-3 mb-3">
                  <div class="card especialista-card" (click)="elegirEspecialista(esp.nombre, esp.apellido)">
                    <img [src]="esp.img_1" class="card-img-top" [alt]="esp.apellido">
                    <div class="card-body">
                      <p class="card-text">{{esp.nombre + ' ' + esp.apellido}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 text-end">
                <button class="btn btn-success" (click)="volver('especialidad')">Volver</button>
              </div>
            </div>
            <!-- Dropdown especialistas -->
      
            <!-- HORARIOS DISPONIBLES -->
            <div class="modal-content rounded-4 shadow text-center" *ngIf="etapa == 'horario'">
              <div class="modal-body p-5 pt-0">
                <div class="d-flex justify-content-end align-items-center">
                  <span>{{diaString}} {{dia}} de {{mes}}</span>
                  <button class="btn btn-secondary mx-2" (click)="sumarRestarDias('antes')" [disabled]="restarDia"><</button>
                  <button class="btn btn-secondary" (click)="sumarRestarDias('despues')" [disabled]="!sumarDia">></button>
                </div>
                <h4 class="mt-4">Horarios disponibles</h4>
                <div class="row">
                  <h3>{{noHayDatos}}</h3>
                  <div *ngFor="let horario of horariosDisponiblesOtroFormato" class="col-6 col-md-2 mb-2">
                    <button type="button" class="btn btn-success w-100" (click)="elegirHorario(horario)">{{horario}}</button>
                  </div>
                </div>
                <button class="btn btn-primary mt-3" (click)="volver('especialista')">Volver</button>
              </div>
            </div>
            <!-- HORARIOS DISPONIBLES -->
      
            <!-- Confirmar turno -->
            <div *ngIf="etapa == 'confirmar'" class="my-3">
              <h1>Confirmar turno</h1>
              <p>Especialidad <br>{{especialidadElegida}}</p>
              <p>Especialista <br>{{especialistaElegidoStr}}</p>
              <p>Horario <br>{{diaElegido}}</p>
              <button class="btn btn-success" (click)="confirmar()">Confirmar</button>
              <button class="btn btn-primary mt-3" (click)="volver('horario')">Volver</button>
            </div>
            <!-- Confirmar turno -->
      
            <!-- Turno Solicitado -->
            <div *ngIf="etapa == 'fin'" class="my-3">
              <h1>Turno Solicitado</h1>
              <p>Ir a mis turnos</p>
              <button class="btn btn-success mt-3" (click)="volver('irMisTurno')">Mis Turnos</button>
            </div>
            <!-- Turno Solicitado -->
          </div>
        </div>
      </div>
