nav{
    
    background-image: url("./../../../assets/imagenes/cabecera.png");
    z-index: 9999;
    height: 80px;
    .navbar-brand, .navbar-toggler-icon
    {
        color: #096995!important;
    }
  }
  .navbar-toggler {
    color: #e20606 !important;
    background-color: #fff;
  }
  
  .navbar-toggler-icon {
    color: rgb(197, 16, 16) !important;
    background-color: #fff;
  }
  
  .nav-link {
    color: #0b035e;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #d0620e;
  }
  
  .btn {
    text-decoration: none;
    background-color: #887088;
    border: 1px solid #887088;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #213977;
  }
  
  .offcanvas-body {
    padding: 1rem;
  }
  
  .dropdown-menu {
    color: #fff;
  }
  
  .dropdown-item {
    color: #49a22b;
    padding-left: 20px;
  }
  
  .dropdown-item:hover {
    background-color: #004373;
  }
  
  .dropdown {
    text-align: center;
  }