nav{
    
    background-image: url("./../../../assets/imagenes/cabecera.png");
    z-index: 9999;
    height: 80px;
    .navbar-brand, .navbar-toggler-icon
    {
        color: #49a22b!important;
    }
  }
 
  .navbar-toggler{
    color: #49a22b !important;
    background-color: #fff;
  }
  .navbar-toggler-icon{
    color: white !important;
    background-color: #fff;
  }
  
  li{
    list-style: none;
  }
  .nav-link{
    color: #49a22b;
    font-size: 1.5rem;
    margin: 15px;
  }
  .btn{
    margin: 15px;
    text-decoration: none;
    background-color: #49a22b;
    border: 1px solid #49a22b;
  }
  .btn:hover{
    background-color: #377721;
  }
  .dropdown-menu{
    background-color: #136199;
    color: #fff;
  }
  .dropdown-item{
    color: #49a22b;
    padding-left: 20px;
  }
  .dropdown-item:hover{
    background-color: #004373;
  }